.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("https://www.yezminthomas.com/wp-content/uploads/2020/03/how-much-to-spend-on-groceries-per-month-featured-image.jpg");
}
.header {
  position:absolute; 
  right:950px;
}
.storeTable {
  position:absolute; 
  right:915px;
  bottom:800px;
}

.groceryForm {
  position:absolute; 
  right:950px;
  bottom:680px;
}

.updateForm {
  position:absolute;
  right:950px;
  bottom:600px;
}

.removeForm {
  position:absolute; 
  right:950px;
  bottom:500px; 
}

.costcoLink {
  position:absolute; 
  right:650px;
  bottom:800px;
}
.CostcoList {
  position:absolute; 
  right:650px;
  bottom:600px; 
  color:white;
}

.jewelLink {
  position:absolute; 
  right:650px;
  bottom:830px;
}
.JewelList {
  position:absolute; 
  right:650px;
  bottom:600px; 
  color:white;
}

.traderJoesLink {
  position:absolute; 
  right:620px;
  bottom:860px;

}
.traderJoesList {
  position:absolute;
  right:650px;
  bottom:600px;
  color:white;
}

.groceryItemForm {
  position:absolute; 
  right:400px;
  bottom:680px;
}

.updateItemForm {
  position:absolute; 
  right:400px;
  bottom:610px;
}

.removeItemForm {
  position:absolute; 
  right:400px;
  bottom:530px;
}



